<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <title>Hapijs Tutorials</title>
        <style>
            * {
                font-family: 'Verdana';
                font-weight: 100;
                color: white;
            }

            h1 {
                margin: 40px;
                padding: 50px;
                text-align: center;
                background-color: darkgreen;
                box-shadow: 10px 20px yellow;
            }
        </style>
    </head>
    <body>
        {{{content}}}
    </body>
</html>
